/**
 * @description Slider Top Nav
 * @version 1.0
 * @author Muhammad Wildan Jaffar Rahmatullah
 * @date 20210107
*/

/* display */
.scroll-wrapper {
	width: 100%;
	margin-right: 5px;
	position: relative;
}

.scroll-wrapper > .scroll-nav {
	/* overflow: hidden !important; */
	overflow-x: auto;
  	overflow-y: hidden;
	transition: margin 700ms;
	scrollbar-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.1) ;
	scrollbar-width: thin;
}

.scroll-wrapper > .scroll-nav::-webkit-scrollbar {
	height: 8px;
	margin-top: 10px;
}

.scroll-wrapper > .scroll-nav::-webkit-scrollbar-track {
	border: 0;
	background: transparent;
}
.scroll-wrapper > .scroll-nav::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
}

.scroll-wrapper > .scroll-nav::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
  }

.scroll-wrapper > .scroll-nav .menu-item {
	position: static !important;
}

.scroll-wrapper > .scroll-nav > .menu-item > a {
	white-space: nowrap;
}

.scroll-wrapper > .scroll-nav > .menu-item .menu-submenu {
	position: absolute !important;
	display: none;
}

.scroll-wrapper > .scroll-nav > .menu-item.menu-item-open-dropdown.menu-item-hover > .menu-submenu {
	display: block !important;
}

.scroll-wrapper > .scroll-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item.menu-item-submenu > .menu-submenu {
	top: auto;
}

/* btn */
.btn-prev-tab, .btn-next-tab {
	height: calc(1.5em + 1.3rem + 2px);
}